.input-boxes-4 {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-4-style {
    width: 550px;
    height: 53px;
    margin-bottom: 30px;
    padding: 10px 20px 6px;
    border: none;
    border: 1px solid #999999;
    cursor: pointer;
    color: #999999;
    font-size: 16px;
    background-color: white;
    text-align: left;
    position: relative;
}

.input-4-style::after {
    content: '';
    position: absolute;
    right: 20px;
    bottom: 16px;
    border: 9px solid transparent;
    border-right: 12px solid #999999;
    border-radius: 4px;
}

.input-4-style:hover .input-4-style {
    color: #216699;
}