.for-topic{
    width: 100%;
    height: 200px;
    background-color: green;
}

.person-list{
    margin: 0 auto;
    width: 1200px;
    background-color: white;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.P-about-us{
    background-color: cyan;
    min-height: 100vh;
    /* height: 2000px; */
}

.P-about-us{
    width: 100%;
    /* margin: 0 auto; */
    /* max-width: 1200px; */
    /* height: 400px; */
    background-color:white;
}
.header-for-topic{
    margin: 0 auto;
    width: 1200px;
    height: 200px;
    background-color: white;
}
.header-h1{
    text-align: center;
}
.header-p{
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}
.cont-paralax{
    padding-top: 30px;
    width: 100%;
    height: 250px;
    background-color: white;
}
.bac-img{
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0 auto;
    width: 1060px;
    height: 210px;
    background-color: pink;
}
/* =============================================== */
.cont-history{
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin:  0 auto;
    width: 1050px;
    height: 600px;
    background-color: whitesmoke;
}
.footer-img{
    width: 440px;
    height: 300px;
    background-color: red;
}
.footer-topic{
    width: 440px;
     height: 300px;
     /* background-color: green;   */
}
.footer-img img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 440px;
    height: 300px;
}
.footer-topic h3{
    font-size: 1.5rem;
    font-weight: 300;
    color: #1A6692;
}
.footer-topic p{
    padding-top: 10px;
    color: #626364;
    line-height: 1.8;
}