.person {
    display: flex;
    width: 500px;
    background-color: coral;
}

.person-image {
    margin: 20px;
    width: 400px;
    height: 220px;
    background-color: red;
    background-image: url("/src/Components/assets/images/image-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.person-information h2 {
    font-size: 24px;
    font-weight: 300;
    color: #09C;
}

.person-information h3 {
    padding-top: 10px;
    font-size: 17px;
    color: #C39;
}

.person-information p {
    color: #626364;
    line-height: 1.8;
    letter-spacing: 1px;
    font-weight: 500;
    padding-top: 20px;
    font-size: 17px;
}
ul{
    padding-top: 20px;
    display: flex;
    list-style: none;
}
ul li a{
    padding: 4px;
    text-decoration: none;
    color: aqua;
}
