.global-topic{
    margin: 0 auto;
    height: 500px;
    width: 281px;
    background-color: aquamarine;
}

.box-topic{
    width: 100%;
    height: 209px;
    /* background-color: blue; */
}
.bg{
    width:100%;
    height: 210px;
    background-color: blueviolet;
}
.for-button{
    width: 100%;
    /* height: 100; */
    /* background-color: yellow; */
}
.for-button button{
    width: 110px;
    height: 35px;
}
.box-topic h3{
    font-size: 1rem;
    color: #626364;
    line-height: 1.8;
}
