* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #626364;
}

.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 65px;
}
ul{
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: #f2f2f2;
}
ul li{
    padding: 5px;
}
ul li a{
    text-decoration: none;
    padding: 20px 90px;
    border-radius: 4px;
    display: inline-block;
    color: #b3b3b3;
    transition: 0.3s;
}
ul li a:hover{
    color: black;
}
.title{
    color: red;
    background-color: white;
}
.mainsection{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.cover-image{
    width: 49%;
    height: 450px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.text-block{
    margin-top: 30px;
    display: flex;
}
.text-block h3{
    margin-top: 40px;
}
.block-title{
    width: 49%;
}
.block-title p{
    color: #828282;
    margin-top: 15px;
}
.online .mainsection{
    flex-direction: row-reverse;
}