/*div{*/
/*    display: inline-block;*/
/*}*/
/*.red{*/
/*    color: red;*/
/*}*/
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 336px;
    margin: 35px 0;
}
img{
    width: 70%;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    margin-top: 15px;
}